.clock {
  margin-left: auto;
  height: 100%;
  width: 8rem;
  background: linear-gradient(
    to bottom,
    #19b7eb 0%,
    #1090e7 10%,
    #1090e7 50%,
    #1090e7 90%,
    #19b7eb 100%
  );
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.1);
}
