.address {
  width: 100%;
  background-color: #efebdf;
  padding: 0 0.8rem;
  border-bottom: 2px solid #d3d3d3;
  font-family: "Consolas";
  display: flex;
}

.address button {
  border-radius: 4px;
  outline: none;
  border: 2px solid #d3d3d3;
  align-self: center;
  padding: 1rem;
  margin-left: auto;
  transition: all 0.1s;
}

.address button:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.address button:disabled {
  cursor: not-allowed;
}

.address img {
  height: 5rem;
  width: 5rem;
}

.address span {
  margin-right: 1.5rem;
  font-size: 1.4rem;
  display: inline-block;
  width: 7rem;
}

.addressInputs {
  padding: 1rem;
  flex-grow: 1;
}

.addressInputs input {
  padding: 3px 1rem;
  font-size: 1.2rem;
  font-family: "Consolas";
  border: 2px solid #d3d3d3;
  width: calc(100% - 9.5rem);
  outline: none;
}

.addressInputs div {
  padding: 0.3rem 0;
}

.main textarea {
  font-family: inherit;
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  resize: none;
}
