.startBar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 3rem;
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    #4193e6 0%,
    #235ddb 10%,
    #2989d8 50%,
    #235ddb 90%,
    #4193e6 100%
  );
}

.startButton {
  outline: none;
  margin-right: 2rem;
  height: 100%;
  width: 9rem;
  border: none;
  border-radius: 0 12px 12px 0;
  padding: 0 12px;
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 100;
  background: #1d921f url("../../assets/windows_icon.png") 10% 50% no-repeat;
  background-size: 2.3rem 2.3rem;
  font-size: 1.6rem;
  text-align: right;
  color: #fff;
  font-family: Arial;
  font-style: italic;
  letter-spacing: 0.8px;
  font-weight: 900;
  flex-shrink: 0;
}

.clock {
  margin-left: auto;
  height: 100%;
  width: 12rem;
  background: linear-gradient(
    to bottom,
    #19b7eb 0%,
    #1090e7 10%,
    #1090e7 50%,
    #1090e7 90%,
    #19b7eb 100%
  );
  color: #fff;
  display: flex;
  justify-content: flex-start;
  padding: 0 1rem;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.1);
}

.language {
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-right: 0.5rem;
}

.language div {
  width: 2rem;
  height: 1.5rem;
  background-size: cover;
  background-position: center center;
  margin-left: 0.5rem;
}

.en {
  background-image: url("../../assets/en-flag.png");
}

.pl {
  background-image: url("../../assets/pl-flag.png");
}

.startbarTitle {
  background-color: #6493e3;
  border: 1px solid #2750ac;
  border-radius: 4px;
  min-width: 4rem;
  width: 20rem;
  height: 2.7rem;
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  padding: 0.8rem;
}

.startbarTitle p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.startbarTitle img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.8rem;
}
